@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Ubuntu:ital,wght@0,400;1,300;1,400&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #464646;
  --backgroundtwo: #1a1a1a;
}


/*navbar*/

.navcontainer {
    display: flex;
    align-items: center;
    background-color: rgb(22, 22, 22);
    color: white;
    justify-content: space-between; /* Add this to space the logo and items */
    padding: 10px; /* Add padding for better spacing */
    height: 60px;
}

.navitems ul {
    display: flex;
    list-style: none;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.navitems ul li {
    margin-right: 50px; /* Add margin between list items */
}

.navitems ul a {
    text-decoration: none;
    color: white; /* Set text color to white */
}

.navlogo {
    display: flex;
    align-items: center; /* Vertically center the content */
}

.navlogo p {
    font-size: 25px;
    margin: 0; /* Remove default margin */
    margin-left: 30px;
}


/*end of navbar */
/*Home section */

.H-textSection{
  display: block;
  margin-top: 150px;
  margin-left: 150px;
  max-width: 900px;
}

.H-textSection h1 {
  font-weight: bold;
  font-size: 45px;
}

.H-textSection p {
  margin-top: 10px;
  font-size: 20px;
}

.ptaglocationhome {
  margin-top: 20px;
  font-size: 18px;
}

.homecontainer {
    background-color: black;
    color: white;
    display: flex;
}

.imagesection {
    margin-top: 50px;
    max-width: 570px;
    margin-left: 150px;
}

.DownloadCv {
    margin-top: 30px;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 15px;
    color: white; /* Set text color */
    border: 2px solid white; /* Initial border style */
    animation: loading-border 2s infinite linear; /* Apply loading animation for border */
}

.DownloadCv:hover {
    background-color: rgba(31, 143, 163, 0.493); /* Lighten the background color on hover */
  }

@keyframes loading-border {
    0% {
      border-color: white; /* Start with white border color */
    }
    50% {
      border-color: rgb(0, 225, 255); /* Change to sky blue at halfway point */
    }
    100% {
      border-color: white; /* Return to white at the end */
    }
  }

  .setofsocial {
    margin-top: 20px;
    display: flex;
  }

  .social-icon {
    width: 25px; /* Set the width of the social media icons */
    margin-right: 10px; /* Add margin between the icons */
      
  }

  .social-icon:hover {
  transform: scale(1.3); /* Scale the icon to 1.2 times its original size on hover */
}
  
/*end Home section */
/* Aboutme section */
.aboutmecontainer {
  background-color: var(--backgroundtwo);
  color: var(--white);
  padding-top: 50px;
}

.aboutmetitle {
  text-align: center;
}

#aboutmetitle-text {
  background-color: var(--gray);
  padding: 10px 15px;
  display: inline-block; 
  border-radius: 25px; 
  font-size: medium;
}

.aboutmepicandpara {
  margin-top: 15px;
  display: flex;
}

#aboutmepicimg {
  max-width: 400px;
  margin-left: 260px;
  margin-top: 70px;
  box-shadow: 8px 10px 10px rgba(252, 252, 252, 0.1);
}

.aboutmeparacontainer {
  max-width: 700px;
  margin-left: auto; /* Align to the right side */
  margin-right: 150px;
}

.ame-title-des {
  font-size: 25px;
}

.aboutmepara {
  margin-top: 30px;
}

.about-me__text {
  margin-bottom: 1.5rem;
  line-height: 1.5;
  color: #9c9090; /* Adjust color as needed */
  font-size: 1rem; /* Adjust font size as needed */
}
/*end Aboutme section */

/*Skill section */

#skillstitle-text {
  background-color: var(--gray);
  padding: 10px 15px;
  display: inline-block; 
  border-radius: 25px; 
  font-size: medium;
}

.skilltitle {
  text-align: center;
}

.skillcontainer {
  background-color: var(--black);
  padding-top: 50px;
  color: var(--white);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.skillitems {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  gap: 20px;
  justify-content: center; /* Center the items horizontally */
}

.skillitemimg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skillitemimgtag {
  max-width: 50px;
}

.skillitemimg p {
  margin-top: 10px; /* Adjust the margin as needed */
}

/*end Skill section */
/* Projects section */
.card {
  width: 18rem;
  background-color: var(--black);
  color: #ffffff;
}

.btn-primary {
  display: inline-flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  margin-top: 5%;
  background-color: green;
  border: none;
  color: #ffffff;
  text-decoration: none; /* Remove underline */
  padding: 10px 20px; 
}

.btn-primary span {
  margin-left: 5px; /* Add space between icon and text */
}

.btn-primary:hover {
  background-color: darkgreen;
}

.static-img {
  max-width: 300px;
  height: 150px; /* Set the desired height */
 /* ' object-fit: cover;'Preserve aspect ratio and fill container */
}

#projecttitle-text {
  background-color: var(--gray);
  padding: 10px 15px;
  display: inline-block; 
  border-radius: 25px; 
  font-size: medium;
}

.projecttitle {
  text-align: center;
}

.projectsontainer {
  background-color: var(--backgroundtwo);
  padding-top: 50px;
  color: var(--white);
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.projectcards {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 20px;
  justify-content: center; /* Center the items horizontally */
}

/*end Projects section */
/* Get-in-touch section */

#getintouchtitle-text {
  background-color: var(--gray);
  padding: 10px 15px;
  display: inline-block; 
  border-radius: 25px; 
  font-size: medium;
}

.getintouchtitle {
  text-align: center;
}

.getintouchcontainer {
  background-color: var(--black);
  padding-top: 50px;
  color: var(--white);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.getintouchmail {
  margin-top: 40px;
  display: flex;
  justify-content: center; /* Center horizontally */
  gap: 40px;
}

#mailicong-i-t {
  max-width: 40px;
  max-height: 40px;
}

#mailicong-i-tcopy {
  max-width: 40px;
  max-height: 40px;
}


.getintouchmobile {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

#mobileicong-i-t {
  max-height: 40px;
}

#mobileicong-i-tcopy {
  max-height: 40px;
}


#social-icons-get-i-t{
  max-height: 25px;
}

.get-in-touch-social-icons-section{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.get-in-touch-social-icons {
  gap: 20px;
  display: flex;
}

#get-in-t-h2{
  font-size: 30px;
}

/*end Get-in-touch section */
/*Footer section */
.footer-content {
  align-items: center;
  text-align: center;
  color: var(--white);
  background-color: var(--backgroundtwo);
}

.footer-content p{ 
  padding: 20px;
  margin: 0;
}
/*end Footer section */


/*media query*/

@media screen and (max-width: 1536px) {

  /*Home*/
  .H-textSection{
    margin-top: 100px;
    margin-left: 90px;
    max-width: 600px;
  }

  .imagesection {
    margin-top: 50px;
    margin-left: 100px;
}
/*Home*/

/*aboutme*/
.aboutmepicandpara {
  gap: 40px;
}

#aboutmepicimg {
  margin-left: 200px;
}
/*aboutme*/

/*projects*/
.projectcards {
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
}
/*projects*/

}


@media screen and (min-width: 1024px) and (max-width: 1280px) {

  /*Home*/
  .H-textSection{
    margin-top: 80px;
    margin-left: 50px;
  }

  .H-textSection h1 {
    font-size: 41px;
  }

  .imagesection {
    margin-left: 60px;
}
/*Home*/
/*aboutme*/
.aboutmepicandpara {
  gap: 40px;
}

#aboutmepicimg {
  margin-left: 100px;
  max-width: 300px;
}
/*aboutme*/

/*skills*/
.skillitems {
  grid-template-columns: repeat(8,1fr);
}
/*skills*/
}

@media screen and (max-width: 1024px) {

/*Home*/
  .H-textSection{
    margin-top: 50px;
    margin-left: 30px;
  }

  .H-textSection h1 {
    font-size: 30px;
  }

  .H-textSection p {
    font-size: 18px;
  }

  .imagesection {
    margin-left: 20px;
}

.DownloadCv {
  margin-top: 30px;
  padding: 3px 5px;
}
/*Home*/

  /*navbar*/
  .navitems ul li {
    margin-right: 30px; /* Add margin between list items */
}
/*navbar*/

/*aboutme*/
.aboutmepicandpara {
  gap: 40px;
}

#aboutmepicimg {
  margin-left: 90px;
  max-width: 280px;
}
.about-me__text {
  font-size: 11px; /* Adjust font size as needed */
}

.aboutmeparacontainer {
  max-width: 800px;
  margin-right: 100px;
}
.ame-title-des {
  font-size: 20px;
}
/*aboutme*/

/*skils*/
.skillitems {
  grid-template-columns: repeat(8,1fr);
}
/*skils*/

/*projects*/
.projectcards {
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
/*projects*/


}


@media screen and (min-width: 640px) and (max-width: 768px) {
 /*Home*/
  .H-textSection p {
    font-size: 15px;
  }
  /*Home*/

  /*navbar*/
  .navitems ul li {
    margin-right: 20px; /* Add margin between list items */
}
/*navbar*/
/*aboutme*/
.aboutmepicandpara {
  gap: 20px;
}

#aboutmepicimg {
  margin-left: 50px;
  max-width: 220px;
}
.about-me__text {
  font-size: 11px; /* Adjust font size as needed */
}

.aboutmeparacontainer {
  max-width: 800px;
  margin-right: 50px;
}
.ame-title-des {
  font-size: 20px;
}

/*aboutme*/

/*skills*/
.skillitems {
  grid-template-columns: repeat(5,1fr);
  gap: 15px;
}
/*skills*/

}

/* bellow 640px mobile size*/
@media screen and (max-width: 640px) {

  /*Home*/
  .H-textSection{
    margin-left: 0px;
    text-align: center; /* Centers the text horizontally */
  }

  .homecontainer {
    display: grid;
    padding: 40px;
}

.H-textSection h1 {
  text-align: center;
}

.H-textSection p {
  text-align: start;
  font-size: 15px;
}

.setofsocial,
.ptaglocationhome{
  margin: 0 auto; /* Centering horizontally */
  width: fit-content; /* Allows centering */
  margin-top: 15px;
}

.DownloadCv {
  display: inline-block; /* Ensures the button is centered */
}

.imagesection {
  margin-top: 50px;
  max-width: 500px;
  margin-bottom:  -40px;
}
/*Home*/

/*nabar*/
.navitems ul {
  display: none;
}
.navlogo p {
  font-size: 18px;
  margin-left: 20px;
}

/*nabar*/

/*aboutme*/
.aboutmepicandpara {
  margin-top: 20px;
  display: grid;
  padding-left: 30px;
  padding-right: 30px; 
}
.aboutmepicandpara {
  gap: 10px;
}

#aboutmepicimg {
  max-width: 220px;
  margin: 0 auto; /* Centers the image horizontally */
}
.about-me__text {
  font-size: 11px; /* Adjust font size as needed */
}

.aboutmeparacontainer {
  max-width: 800px;
  margin: 0 auto; /* This centers the element horizontally */
}
.ame-title-des {
  font-size: 20px;
  text-align: center;
}

/*aboutme*/

/*skills*/
.skillitems {
  grid-template-columns: repeat(4,1fr);
  gap: 5px;
}

.mt-3 {
  font-size: 12px; /* Adjust the font size as needed */
}
/*skills*/

/*projects*/
.projectcards {
  grid-template-columns: repeat(1,1fr);
  gap: 10px;
}
/*projects*/

/*get in touch*/
#get-in-t-h2{
  font-size: 20px;
}

#mobileicong-i-t {
  max-height: 25px;
}
#mobileicong-i-tcopy {
  max-height: 25px;
}

#mailicong-i-t {
  max-width: 25px;
  max-height: 25px;
}

#mailicong-i-tcopy {
  max-width: 25px;
  max-height: 25px;
}
/*get in touch*/
/*footer*/
#footer-p-tag {
  font-size: 13px;
}
/*footer*/
}

/* bellow 380px mobile size*/
@media screen and (max-width: 400px) {
/*get in touch*/
#get-in-t-h2{
  font-size: 15px;
}

#mobileicong-i-t {
  max-height: 20px;
}
#mobileicong-i-tcopy {
  max-height: 20px;
}

#mailicong-i-t {
  max-width: 20px;
  max-height: 20px;
}

#mailicong-i-tcopy {
  max-width: 20px;
  max-height: 20px;
}
#get-i-t-h6-tag {
  font-size: 13px;
}
.mt-4 {
  font-size: 13px;
}
/*get in touch*/
}

@media (min-width: 640px) {
  #menu-icon {
    display: none;
  }
}
